@{
  Layout = "_Layout";
}

<h1>Greetings Dr. Sillystringz!</h1>
<h3>Click on a button below to view a list of your Engineers or Machines</h3>
<input type="button" class="btn btn-outline-primary" value="Engineers" onclick="location.href='@Url.Action("Index", "Engineers")'">
<input type="button" class="btn btn-outline-primary" value="Machines" onclick="location.href='@Url.Action("Index", "Machines")'">